<html>
<head>
	<meta charset="utf-8" />
	<title>Repositorch - @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/site.css" />
	<script src="~/js/sortable.js"></script>
</head>
<body>
	<div class="page">
		<div id="header">
			<div id="title">
				<h1>Repositorch</h1>
			</div>
			<div id="menucontainer">
				<ul id="menu">
					<li><a href="/">Summary</a></li>
					<li><a href="/authors">Authors</a></li>
					<li><a href="/files">Files</a></li>
					<li><a href="/activity">Activity</a></li>
				</ul>
			</div>
		</div>
		<div id="main">
			@RenderBody()
			<div id="footer">
				Powered by <a href="https://github.com/kirnosenko/">Repositorch</a> 0.0.1 alpha.
			</div>
		</div>
	</div>
</body>
</html>
