version: '3.8'

services:
  
  repositorch:
    image: kirnosenko/repositorch
    container_name: repositorch
    deploy:
      restart_policy:
        condition: on-failure
    ports:
      - "5000:80"
    environment:
      - REPOSITORCH_HOME_PATH=/root/data
      - REPOSITORCH_REPO_PATH=/root/repo
    volumes:
      - ${REPOSITORCH_HOME_PATH}:/root/data
      - ${REPOSITORCH_REPO_PATH}:/root/repo:ro,cached
      