a {
  color: #0366d6;
}

html, body, #root {
    min-height: 100vh;
    position: relative;
}

table {
    font-size: 12px;
    margin: 0px;
    width: 100%;
}

.btn {
    border: 1px solid;
    color: #505050;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;
}

.error {
    border: 1px solid red;
}