a {
  color: #0366d6;
}

table {
    font-size: 12px;
    margin: 0px;
    width: 100%;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
